body{
    background-color: #3AAAFF;
}

#doggo{
    background-image: url('doggo.png');
    background-size:contain;
    width:50vw;
    height:50vw;
    margin-left:25vw;
    margin-top:5vw;
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
    animation-direction:alternate-reverse;
    animation-timing-function: ease-in-out;
}

@-moz-keyframes spin { 50% { -moz-transform: rotate(5deg); } }
@-webkit-keyframes spin { 50% { -webkit-transform: rotate(5deg); } }
@keyframes spin { 50% { -webkit-transform: rotate(5deg); transform:rotate(5deg); } }

#cloud1{
    background-image: url('cloud1.png');
    background-size: contain;
    background-repeat: no-repeat;
    width:30vw;
    height:30vw;
    left:0px;
    animation: 2s slide-up infinite;
    animation-delay: .4s;

    position:absolute;

}

#cloud2{
    background-image: url('cloud2.png');
    background-size: contain;
    background-repeat: no-repeat;
    width:50vw;
    height:30vw;
    animation: 2s slide-up infinite;
    position:absolute;
    right:0px;
    background-position:right;

}

#cloud3{
    background-image: url('cloud3.png');
    background-size: contain;
    background-repeat: no-repeat;
    width:20vw;
    height:20vw;
    animation-delay: 1.5s;
    animation: 2s slide-up infinite;
    position:absolute;
    left:30vw;

}

@keyframes slide-up {
    from {
      top: -50%;
    }
  
    to {
      top: 150%;
    }
  }

#km{
    font-family: 'Tuffy', sans-serif;
    font-weight:700;
    color:white;
    margin:0;
    font-size:5em;
    text-align: center;
}
#meters{
    font-family: 'Tuffy', sans-serif;
    font-weight:700;
    color:white;
    margin:0;
    margin-top:-.5em;
    font-size:2.5em;
    text-align: center;
}